@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

:root
{
    --primary-color: #c69258;
    --secondary-color: #83481b;
    --accent1-color: #a5ffdd;
    --accent2-color: #ffd39d;
    --accent3-color: #ffc2d0;
    --heading-font: 'Fredoka', sans-serif;
    --paragraph-font: Arial, sans-serif;
}

body {
    background-color: #c69258;
    font-family: "Fredoka", sans-serif;
}