/* This is going to be merged with the main css file, I just didnt want to mess up any work being
done on other pages by Daps :) */

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #c69258;
  --secondary-color: #83481b;
  --accent1-color: #a5ffdd;
  --accent2-color: #ffd39d;
  --accent3-color: #ffc2d0;

  /* change the values below to your chosen font(s) */
  --heading-font: "Fredoka", sans-serif;
  --paragraph-font: "Arial", Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #83481b;  /* headlines on a white background */ 
  --headline-color-on-color: #ffc2d0; /* headlines on a colored background */ 
  --paragraph-color-on-white: #c69258; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #83481b; /* paragraph text on a colored background */ 
  --paragraph-background-color: #ffc2d0  ;
  --nav-link-color: #c69258;
  --nav-background-color: #83481b;
  --nav-hover-link-color: white;
}

/* Used for seeing element locations, comment and uncomment as needed. */
*{
    border: 1px solid red;
}

body {
  max-width: 960px;
  margin: 0 auto;
  font-size: 18px;
  text-align: center;
}
header {
  background-color: var(/*add color*/);
  margin-top: 0;
  padding-top: 5px;
  margin-bottom: 2em;
}

.logoaccount {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#logo {
  margin: auto;
  grid-column: 2/3;
}
#account {
  margin: auto;
  grid-column: 3/4;
  justify-self: right;
}