@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: #c18567;
    --color-base-200: #a56f53;
    --color-base-300: #89593e;
    --color-base-content: oklch(21% 0.006 285.885);
    --color-primary: #ffcba8;
    --color-primary-content: #482000;
    --color-secondary: #7eb4e6;
    --color-secondary-content: oklch(0% 0 0);
    --color-accent: #23967f;
    --color-accent-content: oklch(0% 0 0);
    --color-neutral: oklch(14% 0.005 285.823);
    --color-neutral-content: oklch(92% 0.004 286.32);
    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(76% 0.177 163.223);
    --color-success-content: oklch(37% 0.077 168.94);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(41% 0.112 45.904);
    --color-error: oklch(71% 0.194 13.428);
    --color-error-content: oklch(27% 0.105 12.094);
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

@plugin "daisyui/theme" {
    name: "dark";
    default: true;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: #c18567;
    --color-base-200: #a56f53;
    --color-base-300: #89593e;
    --color-base-content: oklch(21% 0.006 285.885);
    --color-primary: #ffcba8;
    --color-primary-content: #482000;
    --color-secondary: #7eb4e6;
    --color-secondary-content: oklch(0% 0 0);
    --color-accent: #23967f;
    --color-accent-content: oklch(0% 0 0);
    --color-neutral: oklch(14% 0.005 285.823);
    --color-neutral-content: oklch(92% 0.004 286.32);
    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(76% 0.177 163.223);
    --color-success-content: oklch(37% 0.077 168.94);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(41% 0.112 45.904);
    --color-error: oklch(71% 0.194 13.428);
    --color-error-content: oklch(27% 0.105 12.094);
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

@layer base {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Fredoka", sans-serif;
    }
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
    }

    .toast-item {
        opacity: 0;
        transform: translateX(120%);
        transition:
            opacity 0.3s ease,
            transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
        max-width: 360px;
    }

    .toast-item.show {
        opacity: 1;
        transform: translateX(0);
    }

    .toast-item.hide {
        opacity: 0;
        transform: translateX(120%);
        transition:
            opacity 0.25s ease,
            transform 0.25s ease;
    }
}
